{% extends 'base.html.twig' %}

{% block title 'Agence de Martin'%}

{% block body %}
<div class="jumbotron text-center"> 
	<h1> Agence de Martin </h1>
	<p> Dans notre agence, vous pouvez trouver tous les biens immobiliers du marché, à moindre coup, alors n'hésitez pas ! </p>
</div>
{% endblock %}